<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Custom Components
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <h2>Select the example:</h2>
    <ion-button (click)="onClickHandle('balloon')">Balloon</ion-button>
  </div>
</ion-content>
