<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button slot="start"></ion-back-button>
      <ion-title>balloon</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="screen">
    <div
      [class]="this.selected?'card__selected':'card'"
      (click)="onClickHandler()"
    >
      <div class="div__title"><ion-label class="header">Header</ion-label></div>
      <div class="card__content">
        <ion-label class="content" >Content</ion-label>
      </div>
    </div>
  </div>
</ion-content>
