.screen {
  height: 150px;
  width: 200px;
}
.card,
.card__selected {
  display: flex;
  flex-direction: column;
  margin-inline-start: 10px;
  position: relative;
  height: 150px;
  width: 200px;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);

  &__selected {
    background-color: red;
    &:after {
      display: inline-block;
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      top: 100%;
      left: 50%;
      border-top: none;
      transform: rotate(180deg);
      border-style: solid;
      border-color: transparent;
      border-bottom-color: red;
      animation: grow 0.7s;
      border-width: 10px;
      margin-left: -10px;
    }
  }
}
@keyframes grow {
  from {
    border-width: 0px;
  }
  to {
    border-width: 10px;
  }
}

.div__title {
  display: flex;
  margin: 5px 5px 0px 5px;
  height: 20%;
  align-items: center;
  justify-content: center;
}
.header{
    font-size: medium;
    font-weight: bold;
}
.card__content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  height: 80%;
}
.content{
    color: green;
}
